

<!DOCTYPE html>
<html lang="ru">


{% extends 'base.html' %}
{% block content %}
<body>
    <hr>
    <div class="row">
         <div class="col">

                <div class="card" style="width: 13rem;">


                    <img src="https://d2sofvawe08yqg.cloudfront.net/djangoforbeginners/medium2x?1587411572" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Django for Beginners: Bui ...</h5>
                        <p class="card-text">$30.99</p>
                        {% if book.book_available is True %}
                            <li class="text-primary">Available</li>
                        {% else %}
                            <li class="text-danger">Out of Stock !</li>
                        {% endif %}<br>
                        <a href="/1/" class="btn btn-primary">View</a>
                    </div>
                </div>

            </div>

    </div>
 </div>>
</body>>

 {% endblock content %}
</html>>
